		@media(max-width: 998px)
		{
			html
			{
				font-size : 50%;
			}
		}
		
		@media(max-width: 768px)
		{
			html
			{
				font-size : 40%;
			}
		}

		body
		{
			background-color: darkgray;
		}
		#nav
		{
			position: sticky;
			top: 0rem;
			width: 100%;
		}

	
		h1
		{
			font-family: Serif;
			font-size: 13rem;
		}
		h2
		{
			font-family: Serif;
			font-size: 7rem;
		}
		h3
		{
			font-family: Serif;
			font-size: 4rem;
			font-weight: bold;
			text-align: center;
			color: white;

		}
		#home
		{
			text-align: center;
			width: 100%;
		}
		section
		{/*
			height: 100vh;
			font-family: Serif;
			font-size: 25rem;
			font-weight: bold;
			padding-top: 20rem;
			padding-left: 20rem;
			padding-right: 20rem;
		*/
			font-family: Serif;
			font-size: 1.5rem;
			font-weight: bold;
			padding: 4% 8% 4% 8%;
		  	display: table;
		  	margin: 0;
		  	max-width: none;
		  	height: 100vh;

		}
		#html
		{
			height: 5rem;
		}
		#css
		{
			height: 5rem;
		}
		#php
		{
			height: 4rem;
		}
		#sql
		{
			height: 10rem;
		}

		#c
		{
			height: 5rem;
		}
		#c1
		{
			height: 5rem;
		}
		#java
		{
			height: 5rem;
		}
		#py
		{
			height: 10rem;
		}

		#logo1
		{
			height: 7rem;
		}
		#logo2
		{
			height: 8rem;
		}
		#logo3
		{
			height: 5rem;
		}

		td
		{
			 
			 width : 25vw;
			 vertical-align: baseline;
		}
		th
		{

			 width:25vw;
			
		}
		

		
