
		body
		{
			background-color: darkgray;
		}
		#nav
		{
			position: fixed;
			top: 0px;
			width: 100%;
		}

	
		h1
		{
			font-family: Serif;
			font-size: 150px;
		}
		h2
		{
			font-family: Serif;
			font-size: 55px;
		}
		h3
		{
			font-family: Serif;
			font-size: 50px;
			font-weight: bold;
			text-align: center;
			color: white;

		}
		section
		{
			height: 100vh;
			font-family: Serif;
			font-size: 25px;
			font-weight: bold;
			padding-top: 20px;
			padding-left: 20px;
			padding-right: 20px;

		}
		#html
		{
			height: 150px;
		}
		#css
		{
			height: 150px;
		}
		#php
		{
			height: 120px;
		}

		#c
		{
			height: 150px;
		}
		#c1
		{
			height: 150px;
		}
		#java
		{
			height: 120px;
		}

		#logo1
		{
			height: 100px;
		}
		#logo2
		{
			height: 120px;
		}
		#logo3
		{
			height: 80px;
		}

		td
		{
			 
			 width : 33vw;
			 vertical-align: baseline;
		}
		th
		{

			 width:33vw;
			
		}
		

		
