/* @media(max-width: 998px)
{
	html
	{
		font-size : 75%;
	}
} */

@font-face
{ /* Set custom font oswald */
  font-family: oswald;
  src: url(oswald.ttf);
}
		
@media(max-width: 768px)
{
	html
	{
		font-size : 73%;
		/*display: block; */
        justify-content: space-around; 
	}
/*	section
	{
		height: 100vh;
		max-width: none;
		font-size: 150%;
		font-weight: bold;
		font-family: sans-serif;
		text-align: center;
		padding-left: 4%;
		padding-right: 4%;
		margin: 0;
	}
	#mypic
	{
		height: 350px;
		border-radius: 50%;
		position: absolute;
		left: 18%;
		top: 58%;
	}
	table
	{
		align-items: center;
	}	
	#Copyright
	{
		background-color: gray;
		border : 2px solid black;
		height: 20px;
		text-align: left;
		padding-bottom: 55px;
		width: 49%;
	} */
}

html
{
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
    font-family: 'Ubuntu';

}

body
{
	background-image: url('../img/bg2.webp');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	font-family: 'Ubuntu';
	margin: 0;
}

header
{
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40%;
    font-size: 120%;
}

#mylogo
{
	height: 50px;
	position: fixed;
	left: 0%;
	top: 0.5%;
	overflow: hidden;
}

.nav
{
	/*top: 0%;
	position: fixed;
	width: 100%;
	overflow: hidden;
	 background-color: #333; */

	overflow: hidden; /* This is used to not display the part of content that spills or exceeds out from the navbar */
  	position: fixed; /* Set position of navbar */
  	top: 0; /* Sets position of navbar to the very top */
  	right: 0; /* Sets position of navbar to the very right */
}

.nav a
{
	/*float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	cursor: pointer;
    transition: all 0.3s ease 0.0s; */

    float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 25px;

}

.nav a.active { /* Active navbar items */
  background-color: #4CAF50; /* Sets background color */
  color: white; /* Sets text color to be white of active navbar items */
}

.nav .icon { /* Three bars icon(displayed when on mobile devices) */
  display: none; /* It disables the three bars icon by default if screen size is greater than 920pixels */
}


.nav a:hover
{
	/*background: #ddd;
	color: black; */

 background-color: /* #05668D  #b7d0e2 */ gray;
    /*color: white; */
    border: none;
    border-radius: 20px;
} 

.contacticons a{ /* Contact/connect icons properties */
  color: inherit;
  text-decoration: none;
  padding: 20px 4%;
  float: left;
  display: block;
  text-align: center;
}

hr{
    
    border: 2px solid /* #05668D */ #b7d0e2;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

h1
{
	font-size: 350%;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	padding-top: 30%;
}

h2
{
	font-size: 180%;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
}

h3
{
	font-size: 350%;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	padding-top: 1%;
}


section
{
	height: 100vh;
	
	max-width: none;
	font-size: 150%;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	padding-left: 4%;
	padding-right: 4%; 
	margin: 0;
}

/*.skills
{
	background-color: white; 
	height: 75%;
	width: 96%;
	position: absolute;
	top: 22%;
	left: 2%;*/
}

th
{
	width : 50vw;
}

td
{
			 
	width : 50vw;
	vertical-align: baseline;
}

#mypic
{
	height: 350px;
	border-radius: 50%;
	position: absolute;
	left: 5%;
	top: 30%;
	/* top: 58%; */
}

#html
{
	height: 5rem;
}
#css
{
	height: 5rem;
}
#php
{
	height: 4rem;
}
#sql
{
	height: 10rem;
}

#c
{
	height: 5rem;
}
#c1
{
	height: 5rem;
}
#java
{
	height: 5rem;
}
#py
{
	height: 10rem;
}

#logo1
{
	height: 45px;
}

#logo2
{
	height: 40px;
} 

/* .contact
{
    background-color:  #111111  lightblack;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 1% 10%;
    height: auto;
    width: 80%;

} */

h4
{
	font-size: 200%;
	font-style: bold;
}

h5
{
	font-style: bold;
	font-size: 140%;
}

.footer 
{
   /*position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: left;
   height: auto;*/

 /* Gray footer part styling */
  text-align: left;
  /* background-color: #27292b; */
  padding-bottom: 10px;
  padding-top: 10px;
  bottom: 0;
  color: white;

}

#Copyright
{
	background-color: gray;
	border : 2px solid black;
	height: 20px;
	/*text-align: left; */
	text-align: center;
	padding-bottom: 55px;
	width: 100%;
	bottom: 0;
}


@media screen and (max-width: 920px) { /* This is for responsive layout. If width is less than 920pixels, the following scope will be activated */
  .nav a {
    display: none; /* This stops the non mobile navigation bar items from being displayed */

  }  
  .nav a.icon {
    display: block; /* This enables the three lines/bars icon */
  }
  section { /* Common styling for all the sections of the website */ 
  padding: 7% 7%;
}

/* section
	{
		height: 100vh;
		max-width: none;
		font-size: 150%;
		font-weight: bold;
		font-family: sans-serif;
		text-align: center;
		padding-left: 4%;
		padding-right: 4%;
		margin: 0;
	}
	#mypic
	{
		height: 350px;
		border-radius: 50%;
		position: absolute;
		left: 18%;
		top: 58%;
	}
	table
	{
		align-items: center;
	}	
	#Copyright
	{
		background-color: gray;
		border : 2px solid black;
		height: 20px;
		text-align: left;
		padding-bottom: 55px;
		width: 49%;
	} */

}

 @media screen and (max-width: 920px) { /* This is for responsive layout. If width is less than 920pixels, the following scope will be activated */
  .nav.responsive { /* Responsive navbar styling */
    position: -webkit-sticky; // Required for Safari
    position: sticky; /* To make the navbar stick to the top always, and not move with the page when scrolled */
    top: 0; /* Sets position of navbar to the very top */
    left: 0; /* Sets navbar's position to the very left */
    background-color: #000000; /* Sets navbar's background color as black */
    opacity: 80%; /* Makes the navbar a little transparent */
  }
  .nav.responsive .icon { /* Navbar three bars icon styling */
    position: absolute; /* Sets the three bars icon position */
    right: 0; /* Sets position of three bars to the very right */
    top: 0; /* Sets position of three bars to the very top */
  }
  .nav.responsive a { /* Responsive navbar items styling */
    float: none;
    display: block; /* Enables the responsive navbar items */
    text-align: left; /* Aligns the navbar item's text to left */
  }

  body
  {
  	font-family: 'Ubuntu';
  }
  
  section
	{
		height: 100vh;
		max-width: none;
		font-size: 150%;
		font-weight: bold;
		font-family: 'Ubuntu';
		text-align: center;
		padding-left: 4%;
		padding-right: 4%;
		margin: 0;
	}
	#mypic
	{
		height: 250px;
		border-radius: 50%;
		position: absolute;
		left: 20%;
		top: 60%;
	}
	table
	{
		align-items: center;
	}	
	#myname
	{
		position: absolute;
		top: 0.5%;
		left: 8%;
	}
	#Copyright
	{
		background-color: gray;
		border : 2px solid black;
		height: 20px;
		text-align: left;
		padding-bottom: 55px;
		width: 75%;
	}

	h1
	{
		font-size: 300%;
		font-weight: bold;
		font-family: sans-serif;
		text-align: center;
		padding-top: 53%;
	}
	h2
	{
		font-size: 150%;
		font-weight: bold;
		font-family: sans-serif;
		text-align: center;
	}

} 
